
@{
    ViewBag.Title = "Home";
}

@*<div>
    <div>
        <img src="~/Content/images/bg.jpg" style="background-position-x:center; width:1500px">
        <div class="card-img-overlay justify-content-center align-items-center">
            
            <a href="/LoginForm/ManageLogin" class="btn btn-success">Sign In</a>
            <a href="#myModal4" class="btn btn-info">Sign Out</a>
        </div>
    </div>
</div>*@

  
    <!-- Background image -->
    <div class="p-6 text-center bg-image"
         style="background-image:url('/Content/images/bg.jpg'); height: 500px;">
    <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div>
                <br />
            <br />
                <a href="/LoginForm/ManageLogin" class="btn btn-success btn-lg">Sign In</a>
                <a href="/PersonalDetails/ManagePersonalDetails" class="btn btn-info btn-lg">Sign Out</a>
                @*<a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a>*@
            </div>
        </div>
    </div>
    </div>




